# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Model files
models/*.pkl
models/*.joblib

# Logs
logs/

# Reports
reports/

# Temporary files
*.log
*.tmp

# OS
.DS_Store
Thumbs.db

models/*.pkl
models/*.joblib
!models/.gitkeep